<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./css/iconfont.css">
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

  <script src="js/vue.js"></script>
  <script src="element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
  <script src="js/axios-0.18.0.js"></script>

  <link rel="stylesheet" href="css/navigationBar.css">
  <link rel="stylesheet" href="css/leftColumn.css">
  <style>
    #comment{
      right: 100px;
      position: relative;
    }
    html {
      background: bisque;
    }

    #button1{
      left: 20px;
      position: relative;
    }
    #date{
      margin-left: 20%;
      max-width: 900px;
    }
    img {
      position: relative;
      float: left;
    }

    #name{
      /*vertical-align: top;*/
      font-size:20px;
      z-index: 2;
    }
    #text {
      width:85%;
      top: 10px;
      height: 60%;
      margin-left: 80px;
    }
    #time{
      position: relative;
      font-size:7px;
      left:100px;
    }
    #delete{
      position: relative;
      font-size:7px;
      left: 50%;
    }
    #in{
      position: relative;
      top: 20px;
    }

    .div1 {
      height: 300px;
      border: 1px solid blue;
    }
    .div1 span{
      left: 20px;
      position: relative;
    }
    #button2{
      left: 40px;
      position: relative;
    }

  </style>
</head>
<body>

<div id="navigationBar">

</div>

<div class="row">
  <div class="leftcolumn">


  </div>

  <div class="rightcolumn">
    <div id="comment">
      <el-form id="date"  label-width="80px" >
        <el-row >
          <span id="button1" class="demonstration"><i class="el-icon-edit-outline"></i>留言板</span>
          <el-button id="button2" @click="write.show=!write.show" type="info" plain><i class="el-icon-s-order"></i>我要留言</el-button>
        </el-row>
        <el-form :model="write" ref="write" label-width="100px" v-show="write.show" >
          <hr>
          <el-form-item
                  label="我的留言"
                  prop="text"
                  :rules="[
                            { required: true, message: '不能为空'},
                        ]">
            <el-input v-model.number="write.text"
                      type="textarea"
                      :autosize="{ minRows: 6, maxRows: 100}"
                      placeholder="请输入内容"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="OnSubmit('write')">提交</el-button>
            <el-button @click="resetForm('write')">重置</el-button>
          </el-form-item>
        </el-form>
        <hr>
        <ol>
          <li v-for="commentData in commentDatas">
            <div>
              <div class="div1">
                <p><img :src="commentData.photo"
                        style="width:70px;
                        height:70px;
                        margin-left:10px;">
                  <span id="name">{{commentData.username}}</span>
<!--                  <span id="id" type="index">第{{floor}}楼</span>-->
<!--                  {{add()}}-->
                  <br>
                  <div id="text">
                  <span >{{commentData.text}}</span>
                  </div>
                  <br>
                  <span id="time">
                  {{commentData.time}}
                  </span>
<!--                  <span  id="reply">-->
<!--                   <el-button type="text"  @click=" commentData.show=!commentData.show">回复</el-button>-->
<!--                  </span>-->
                  <span id="delete">
                    <el-button  type="text" @click="remove(commentData.id)" icon="el-icon-delete"></el-button>
                  </span>
                </p>
              </div>
              <el-form :model="commentData" :rules="rules"  id="in" ref="commentData" label-width="100px" class="demo-commentData" v-show="commentData.show">
                <el-form-item label="回复内容" prop="desc">
                  <el-input
                          type="textarea"
                          :autosize="{ minRows: 6, maxRows: 100}"
                          placeholder="请输入内容"
                          v-model="commentData.desc">
                  </el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="submitForm('commentData')">确认</el-button>
                  <el-button @click="resetForm('commentData')">清空</el-button>
                </el-form-item>
              </el-form>

            </div>
            <br>
            <br>
          </li>
        </ol>

      </el-form>

    </div>


  </div>
</div>





<script>

  $("#navigationBar").load("./navigationBar.html");
  $(".leftcolumn").load("./leftColumn.html");


  new Vue({
    el: '#comment',
    data() {
      return {
        write: {
          text: '',
          show:false,
        },
        commentDatas: [{
          photo:'',
          username: '',
          id:'',
          text:'',
          time:'',
          show:''
        },

        ],
        rules: {
          desc: [
            { required: true, message: '请填写内容', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // window.location.href="";
            alert('提交成功!');
            this.$refs[formName].resetFields();
          } else {
            console.log('提交失败!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$confirm('是否删除该内容?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$refs[formName].resetFields();
        }).catch(() => {
        });
      },
      OnSubmit(formName){
        this.$refs[formName].validate((valid) => {
                  if (valid) {
        this.$confirm('是否提交该内容?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios({
            method:"post",
            url:"/MsgBoard/addMyself",
            data:{text:this.write.text}//通过内容添加
          }).then(resp=>{
          })
          window.location.reload()//刷新
        }).catch(() => {
        });
                  } else {
                    alert('提交失败!');
                    return false;
                  }
        });
      },
      remove(message){
        this.$confirm('是否提交该内容?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios({
            method:"post",
            url:"/MsgBoard/deleteById",
            data:{id:message}//通过id删除可改
          }).then(resp=>{
            window.location.reload()//刷新
          })
        }).catch(() => {
        });
      }
    },
    mounted(){
      axios({
        method:"get",
        url:"/MsgBoard/showMyself"//网站
      }).then(resp=>{
        this.commentDatas=resp.data;
        //alert(_this.commentDatas[1].photo);
      })
    },
  })
</script>
</body>
</html>